<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SymbolMonitorPath" value="C:\SymbolAdd"/>
    <add key ="ProcessedSymbolsPath" value="C:\ProcessedSymbols"/>
  </appSettings>
  <connectionStrings>
    <add name="Harbor_EastConnectionString" connectionString="Integrated Security=false;Persist Security Info=False;User ID=sa;Password=root123;Initial Catalog=Harbor East;Data Source=OCS-WKS-098\SQL2K8;" />
    <add name="Harbor_EastEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='Data Source=OCS-WKS-098\SQL2K8;Initial Catalog=&quot;Harbor East&quot;;User ID=sa;Password=root123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
