<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Harbor_EastEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string='Data Source=harboreast-pc;Initial Catalog=&quot;Harbor East&quot;;User ID=sa;Password=root123;MultipleActiveResultSets=True'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>